/*General template*/
@font-face {
    font-family: 'ChronicleDispX';
    src: url('../assets/Chronicle_Display_Light.otf') format('opentype');
    font-style: normal;
}
@font-face {
    font-family: 'Nobel-Regular';
    src: url('../assets/Nobel-Regular.eot');
    src: url('../assets/Nobel-Regular.eot?#iefix') format('embedded-opentype'),
        url('../assets/Nobel-Regular.woff2') format('woff2'),
        url('../assets/Nobel-Regular.woff') format('woff'),
        url('../assets/Nobel-Regular.ttf') format('truetype'),
        url('../assets/Nobel-Regular.svg#Nobel-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


body{
    margin:0;
    padding:0;
}
.l-container{
    width: 0mm;
    height: 80mm;
    text-align: center;
}
.order-l{
    width: 80mm;
    height: 80mm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.order-l img{
    width: 15%;
    height: auto;
}
.order-l div{
    font-size: 18pt;
}
.text-container{
    margin: 13.517mm 5mm 26.517mm 5mm;
}
.text-container__title{
    width:70mm;
    height:13mm;
    font-size:18pt;
    font-family: 'Nobel-regular', 'Times New Roman', Times, serif;
    text-transform: uppercase ;
}
.text-container__title--tall{
    height:26.571mm!important;
}
.text-container__subtitle{
    width:70mm;
    height:27.142mm;
    font-size: 8pt;
    font-family: 'ChronicleDispX', 'Times New Roman', Times, serif;
    letter-spacing: 0.13em;
}
.text-container__subtitle--small{
    height: 13.571mm!important;
}
.container__logo{
    width:80mm;
    height:9mm;
    position: absolute;
    top:0; /*Position of the logo*/
    margin-top:57.5mm;
}
.container__logo img{
    width:55%; 
}

/*=============================================================================*/

/*Specific template*/
.text-container__title--court{
    letter-spacing: 0.20em;
}
.text-container__title--long{
    letter-spacing: 0.05em;
}
.text-container__title--long-two{
    letter-spacing: 0.15em;
}
.text-center{
    display: flex; /*Center the subtitle in the container*/
}   
.text-center span{
    margin: auto;
}